%map{ :version => '1', :lang => 'es', :context=>'javascript,lenguaje,programación' }

  %code
    %type javascript
    %path files.js/input.js
    %tags recoger,input,dato,name,teclado,show,display,visualizar
    %def Programa JS, que recoger un dato (name) por teclado y lo visualiza.

  %code
    %type javascript
    %path files.js/validate.js
    %tags recoger,input,true,false
    %def Programa JS, para que el usuario confirme su edad.
