%map{ :version => '1', :lang => 'es', :context=>'python,lenguaje,programación' }

  %code
    %type python
    %path files.py/string.py

  %code
    %type python
    %path files.py/array.py

  %code
    %type python
    %path files.py/iterator.py
