%map{ :version => '1', :lang => 'es', :context=>'ruby,lenguaje,programación' }

  %code
    %type ruby
    %path files.rb/helloworld.rb
    %tags mostrar,texto,hola,mundo
    %def Mostrar en pantalla el texto "Hello World!"

  %code
    %type ruby
    %path files.rb/array.rb
    %tags mostrar,texto,hola,elemento,array
    %def Mostrar en pantalla un saludo a todos los personajes de la lista.

  %code
    %type ruby
    %path files.rb/iterator.rb
    %tags mostrar,texto,hola,adios,iterar,elemento,array
    %def Mostrar en pantalla un saludo a todos los personajes y una despedida a que empiecen por Darth.

  %code
    %type ruby
    %path files.rb/input.rb
    %tags recoger,input,dato,name,teclado,show,display,visualizar
    %def Recoger un dato (name) por teclado y lo visualiza.
