%map{ :version => '1', :lang => 'es', :context=>'ruby,lenguaje,programación' }

  %code
    %type ruby
    %path files.rb/input.rb
    %tags recoger,input,dato,name,teclado,show,display,visualizar
    %def Programa Ruby, que recoger un dato (name) por teclado y lo visualiza.
