%map{ :lang => 'es', :context => 'matemáticas, geometría, trigonometría, seno, coseno, ángulo,tangente', :version => '1'}

  %concept
    %names seno de un ángulo
    %tags cateto, hipotenusa, opuesto, cociente, trigonometría, razones, ángulo
    %def Es el cociente entre el cateto opuesto y la hipotenusa.
    %def {:type =>'image_url'}https://drive.google.com/file/d/1dn5VGgtk6nlm2mceGJCiroph_Dvb9izi/view?usp=sharing

  %concept
    %names coseno de un ángulo
    %tags cateto, hipotenusa, contiguo, cociente, trigonometría, razones, ángulo
    %def Es el cociente entre el cateto contiguo y la hipotenusa.
    %def {:type =>'image_url'}https://drive.google.com/file/d/1dn5VGgtk6nlm2mceGJCiroph_Dvb9izi/view?usp=sharing

  %concept
    %names tangente de un ángulo
    %tags cateto, contiguo, opuesto, cociente, trigonometría, razones, ángulo
    %def Es el cociente entre el cateto opuesto y el cateto contiguo.
    %def {:type =>'image_url'}https://drive.google.com/file/d/1dn5VGgtk6nlm2mceGJCiroph_Dvb9izi/view?usp=sharing

  %concept
    %names primera relación de la trigonometría
    %tags seno, coseno, tangente, trigonometría, razones, ángulo, relación
    %def La suma del seno al cuadrado mas el coseno al cuadrado es igual a 1
    %def sen^2 x + cos^2 x = 1

  %concept
    %names segunda relación de la trigonometría
    %tags seno, coseno, tangente, trigonometría, razones, ángulo, relación
    %def La tangente es el cociente entre el seno y el coseno de un ángulo
    %def tag x = sen x / cos x

  %concept
    %names tercera relación de la trigonometría
    %tags seno, coseno, tangente, trigonometría, razones, ángulo, relación
    %def La tangente al cuadrado más 1 es igual a la inversa del coseno al cuadrado
    %def tan^2 x +1 = 1/cos^2 x
    
  %concept
    %names secante
    %tags coseno, trigonometría, razones, inversa
    %def Es la inversa a la coseno
    %def sec x = 1/ cos x

  %concept
    %names cosecante
    %tags seno, trigonometría, razones, inversa
    %def Es la inversa a la seno
    %def cosec x = 1/ sen x
  
  %concept
    %names cotangente
    %tags tangente, trigonometría, razones, inversa
    %def Es la inversa a la tangente
    %def cotag x = 1/ tag x