%map{ lang: 'es', context: 'relieve', version: '1'}
  
  %concept
    %names La corteza
    %tags capa, geosfera, continentes
    %def Es la capa más superficial de la geosfera, y está constituida por continentes y fondos oceánicos.
    %def No es permanente ni homogénea, síno que ha ido variando a causa de distintos agentes que han influido en ella.
 
  %concept
    %names La formación de los continentes
    %tags continentes, Pangea, fragmentos, placas, litosfera
    %table{ fields: 'teoría, explicación'}
      %row
        %col Teoría de la deriva continental
        %col Los continentes estuvieron unidos en el pasado en un único bloque de tierra llamado Pangea. Este bloque comenzó a romperse en fragmentos o placas, que fueron desplazándose muy lentamente, lo que provocó la paulatina separación o deriva de los continentes.
      %row
        %col Teoría de la tectónica de placas
        %col La litosfera está fragmentada en varias placas rígidas, las llamadas placas tectónicas. Dichas placas, que se corresponden aproximadamente con un continente, subcontinente u océano, flotan sobre el manto y se desplazan muy despacio. Este movimiento sigue produciéndose en la actualidad.

  %concept 
    %names Relieve 
    %tags  desigualdades, superficie
    %def Son las desigualdades que existen en la superficie terrestre.

  %concept 
    %names Orogénesis
    %tags  deformaciones, superficie, terrestre, relieve, Tierra, placas, pliqgues, fallas, volcanes, terremotos, agua, viento, vegetación, temperatura
    %def Proceso que produce las deformaciones en la superficie terrestre formando el relieve.
    %table{ fields: 'acción, explicación'}
      %row
        %col Agentes internos o formadores
        %col Causados por la energía intema de la Tierra, son la tectónica de placas, los pliegues, las fallas, los volcanes y los terremotos.
      %row
        %col Agentes externos o modeladores
        %col Son el agua, el viento, la vegetación, la temperatura y la acción humana.
 
  %concept 
    %names Volcanes
    %tags  grietas, corteza, material, Tierra, lava, gases, cenizas, roca, erupción
    %def Son aberturas o grietas de la corteza terrestre a través de las cuales sale material del interior de la Tierra, como lava, gases, cenizas y fragmentos de roca. 
    %def Esta salida de material recibe el nombre de erupción volcánica. Al solidificarse, estos materiales pueden formar diferentes paisajes o incluso islas.

  %concept 
    %names Terremotos o seismos
    %tags  ruptura, corteza, terrestre, ola, tsunami, sismógrafo, escala, Richter, Mercalli
    %def Son movimientos subterráneos bruscos que pueden causar rupturas en la corteza terrestre.
    %def Si el seismo es submarino se llama maremoto y puede provocar una ola gigante o tsunami. 
    %def Para detectarlos se usa el sismógrafo.
    %def Las dos escalas más utilizadas para medir su magnitud son la escala Richter y la escala Mercalli.
    %table{ fields: 'Escala de medida, explicación'}
      %row
        %col Escala Richter
        %col Mide en grados la magnitud de la energía liberada en el punto de origen (hipocentro) y abarca desde los 0º a los 9º.
      %row
        %col Escala Mercalli
        %col Mide la intensidad de los efectos destructores del seismo sobre la superficie terrestre y clasifica las sacudidas en doce niveles. 

  %concept 
    %names Epicentro
    %tags punto , superficie, ondas
    %def Punto de la superficie al que llegan las ondas sísmicas

  %concept 
    %names Hipocentro
    %tags  puntoi, interior, Tierra, terremoto, ondas
    %def Punto del interior de la Tierra donde se inicia el terremoto que genera las ondas sísmicas.

  %concept 
    %names Dorsal oceánica
    %tags  cordillera, llanuras, islas
    %def Cordillera submarina que surca las llanuras abisales y que puede sobresalir del mar y originar islas

  %concept 
    %names Maremoto
    %tags  movimiento, sísmico, aguas, mar
    %def Movimiento sísmico que afecta a las aguas del mar y provoca una agitación violenta de estas.

  %concept 
    %names Rift
    %tags  fisura, duperficie, continental, valle, placa, tectónica
    %def Fisura de la superficie continental en forma de valle producida por la fuerza divergente de una placa tectónica.

  %concept 
    %names Pliegue
    %tags  presión, materiales, plasticidad, ondulación, rocas
    %def La presión sobre materiales con elevada plasticidad provoca una ondulación de los estratos de rocas.

  %concept 
    %names Falla
    %tags  presión, materiales, rígidos, fractura, bloques
    %def La presión sobre materiales rígidos provoca una fractura en la que los dos bloques de materiales se desplazan.

  %concept 
    %names Modelado del relieve
    %tags  agua, viento, vegetación, temperatura
    %def Los principales agentes externos son el agua, el viento, la vegetación y la temperatura.
    %table{ fields: 'Agente externo, explicación'}
      %row
        %col Agua
        %col Es el agente externo más activo. Intervienen las olas, las corrientes marinas, las mareas, el agua de la lluvia, los ríos y el hielo.
      %row
        %col Viento
        %col Transporta partículas, por ejemplo de arena o arcilla, que impactan sobre las rocas y van puliendo y redondeando su superficie. Además, puede formar grandes acumulaciones de materiales, como en las dunas de los desiertos.
      %row
        %col Vegetación
        %col Excava con sus raíces los suelos y las rocas, y ayuda así a Su disgregación. Sin embargo, no debemos olvidar que la vegetación es también la principal protección contra la erosión de suelos y laderas, pues mitiga el efecto erosivo del agua y del viento.
      %row
        %col Temperatura
        %col La dilatación producida por el calor del día y la contracción que provoca el frío durante la noche tienen como consecuencia el agrietamiento de las rocas.

  %concept 
    %names El agua
    %tags  olas, corrientes submarinas, litoral, acantilados, arena, golfos
    %def Las olas, las corrientes marinas y las mareas actúan sobre el litoral: desgastan los acantilados, transportan arena, forman golfos.
    %def El agua de la lluvia horada la superficie de las rocas; se filtra y disuelve las rocas formando cuevas. También puede disolver y arrastrar determinados componentes de los suelos.
    %def Los ríos excavan valles y cañones y arrancan materiales, especialmente en el curso alto, que se depositan en el curso bajo y forman llanuras aluviales y deltas.
    %def El hielo. El agua depositada en las grietas o las oquedades de las rocas, al helarse, aumenta de volumen y ejerce una presión sobre las rocas que puede provocar su fractura.


  %concept 
    %names La acción de los seres humanos
    %tags  ciudades, carreteras, infraestructuras, deforestación, erosión
    %table{ fields: 'Modos de acción, explicación'}
      %row
        %col Directamente
        %col Mediante la construcción de ciudades, carreteras, aeropuertos y otras infraestructuras, así como la explotación de canteras y minas, la construcción de pantanos o puertos, el desvío de ríos, etc.
      %row
        %col Indirectamente
        %col Mediante la 'deforestación provocan un aumento de la erosión y, además, la falta de vegetación repercute de forma negativa sobre la producción de oxígeno, las lluvias y las temperaturas.

  %concept 
    %names Deforestación
    %tags  proceso, destrucción, superficie, forestal
    %def Proceso de destrucción de la superficie forestal realizado mediante talas o quemas.

  %concept 
    %names Erosión
    %tags  desgaste, superficie, terrestre, agentes, naturales, acción humana
    %def Desgaste producido en la superficie terrestre por los agentes externos naturales o por la acción humana.

  %concept 
    %names Los océanos
    %tags  masas, agua, continentes, superficie, terrestre, Pacífico, Atlántico, Índico, Glacial, Ártico, Antártico
    %def son grandes masas de agua salada que separan los continentes y cubren la mayor parte de la superficie terrestre.
    %table{ fields: 'Océano, explicación'}
      %row
        %col Pacífico
        %col Es el océano más extenso y está situado entre América, Asia y Oceanía-
      %row
        %col Atlántico
        %col Es el segundo océano más grande y baña las costas de América, Europa y África.
      %row
        %col Índico
        %col Sus aguas bañan las costas de Asia y África
      %row
        %col Glacial Ártico y Glacial Antártico
        %col Están situados en los polos Norte y Sur de la Tierra, respectivamente. Sus aguas están heladas una gran parte del año.

  %concept 
    %names Mares
    %tags  agua, salada, océano, masa, continental
    %def Extensiones de agua salada, considerados una división de un océano, más o menos cerrados por la masa continental.

  %concept 
    %names El relieve submarino
    %tags  fondo, mares, océanos
    %def Es el fondo de los mares y océanos.
    %def Es muy accidentado y está formado por diversas formas de relieve.
    %def La mayor parte del relieve submarino está formado por las grandes llanura abisales, que se encuentran surcadas por las fosas marinas y las dorsales oceánicas.

  %concept 
    %names El movimiento de los mares
    %tags  olas, mareas, pleamar, bajamar, corrientes, marinas
    %table{ fields: 'Movimiento, explicación'}
      %row
        %col Las olas
        %col Son movimientos periódicos en la superficie del agua de los mares y océanos provocados por la fricción del viento con esta superficie. Transforman las playas y las costas, pues arrastran y transportan arena y erosionan los acantilados.
      %row
        %col Las mareas
        %col Son movimientos periódicos en el nivel del mar. El movimiento de ascenso se conoce como pleamar y el de descenso como bajamar.
      %row
        %col Corrientes marinas
        %col Son movimientos de grandes masas de agua de los mares, superficiales o profundas. Existen corrientes cálidas y corrientes frías. Tienen gran influencia en la vida del mar y en el clima de las zonas por donde pasan.
 
  %concept 
    %names Plataforma continental
    %tags  prolongación, continentes, mar
    %def Prolongación de los continentes bajo el mar, tiene una profundidad media de 130m

  %concept 
    %names Talud continental
    %tags  escalón, pendiente, plataforma, continental
    %def Escalón de pronunciada pendiente que marca el final de la plataforma continental

  %concept 
    %names Llanuras abisales
    %tags  llanuras, grandes, profundidades
    %def Llanuras que se encuentran a grandes profundidades ( entre 4000 y 5000m de profundidad)

  %concept 
    %names Dorsales oceánicas
    %tags  cordilleras, submarinas, llanuras abisales
    %def Cordilleras submarinas que surcan las llanuras abisales y que pueden sobresalir del mar y originar islas.
    %def La dorsal más larga es la dorsal atlántica

  %concept 
    %names Fosas marinas
    %tags  cavidades, fondo, océanos
    %def Profundas cavidades situadas en el fondo de los océanos.
    %def La más profunda es la fosa de las Marianas, en el océano Pacífico, que alcanza los 11000 m de profundidad

  %concept 
    %names Los ríos
    %tags  caudal, cuenca, cauce, desembocadura
    %def  Corriente continua de agua dulce que desemboca en el mar, en otro río o en un lago.
    %def El río que desemboca en otro río se llama afluente
    %table{ fields: 'Partes de un río, explicación'}
      %row
        %col Caudal
        %col Cantidad de agua que lleva un río.
      %row
        %col Cuenca
        %col Conjunto de tierras por donde discurre el río principal y sus afluentes.
      %row
        %col Cauce
        %col Espacio por el que circula un río. Las curvas que traza el cauce se llaman meandros.
      %row
        %col Desembocadura
        %col Espacio por donde un río  vierte sus aguas al mar, a otro río o a un lago. 
 
  %concept 
    %names Régimen fluvial
    %tags  variación, caudal, río, pluvial, nival
    %def Es la variación del caudal de un río a lo largo del año
    %table{ fields: 'Tipo de regimen, explicación'}
      %row
        %col Regimen pluvial
        %col Cuando el caudal del río depende fundamentalmente del agua de la lluvia.
      %row
        %col Regimen nival
        %col Cuando el río recibe agua principalmente del deshielo. El caudal aumenta en primavera y desciende durante el invierno
 
  %concept 
    %names Lagos
    %tags  agua, depresión, relieve, lagunas
    %def Acumulaciones de agua que ocupan una depresión del relieve.
    %def Con frecuencia son alimentados por ríos, aguas subterráneas o el deshielo de las montañas.
    %def Los lagos de pequeña extensión o poca profundidad se denominan lagunas.

  %concept 
    %names Aguas subterráneas
    %tags  infiltración, agua , lluvia
    %def Se forman por la infiltración del agua de la lluvia o de la nieve en el subsuelo, que crec corrientes subterráneas y depósitos llamados acuíferos.

  %concept 
    %names Los glaciares
    %tags  masas, hielo, temperaturas, bajas
    %def Son grandes masas de hielo que se encuentran en lugares que registran temperaturas muy bajas, como las altas montañas, los glaciares alpinos o las zonas polares, donde cubren toda la superficie y reciben el nombre de casquetes polares.

  %concept 
    %names El clima
    %tags  conjunto, condiciones, atmosféricas, zona, Tierra, latitud, altitud, distancia, mar, temperatura, presión, atmosférica, presipitaciones, nubosidad, viento
    %def Es el conjunto de condiciones atmosféricas que se repiten de manera cíclica y habitual en una determinada zona de la Tierra
    %table{ fields: 'Factores del clima'}
      %row Latitud 
      %row Altitud 
      %row Distancia respecto al mar
    %table{ fields: 'Elementos del clima'}
      %row Temperatura
      %row Presión atmosférica 
      %row Precipitaciones
      %row Nubosidad 
      %row Viento

  %concept 
    %names Los climas de la Tierra
    %tags  latitud, Tierra, franjas
    %def La latitud divide a la Tierra en cinco grandes franjas climáticas: una zona cálida, dos zonas templadas y dos frías.
    %def Tenemos tres tipos de climas: fríos, templados y cálidos.
    %table{ fields: 'Tipos de climas, subtipo'}
      %row
        %col Climas fríos
        %col Clima polar, clima subpolar, clima de alta montaña
      %row
        %col Climas templados
        %col Clima templados frescos (oceánico y continental) y climas templados cálidos (mediterráneo y subtropical)
      %row
        %col Climas cálidos
        %col Climas tropicales, clima desértico, clima ecuatorial
