%map{ :lang => 'en', :context => 'language, syntax', :version => '1'}

  %concept
    %names English language, english
    %tags english, phrases
    %table{ :fields => 'phrase,subject,verb'}
      %row
        %col I eat in the kitchen
        %col I
        %col Eat
      %row
        %col You don't know about that problem
        %col You
        %col Know
      %row
        %col She lives in California
        %col She
        %col Live
