%map{ :version=>"1", :lang => 'es', :context => 'jardín, planta' }

  %concept
    %names jardín
    %tags terreno, cultivar, especie, vegetal, placer, sentido
    %def Es una zona del terreno donde se cultivan especies vegetales, con posible añadidura de otros elementos como fuentes o esculturas, para el placer de los sentidos.
    %def En castellano se llamaba antiguamente huerto de flor para distinguirlo del huerto donde se cultivan hortalizas. La adopción de la palabra en francés hizo más fácil la distinción entre uno y otro vocablos.
    %def{ :type => :image_url } http://igingenieriaforestal.com.co/wp-content/uploads/2014/09/jardines-3-e1414086342524.jpg
    %table{ :fields => 'Puede incorporar'}
      %row materiales naturales
      %row como hechos por el hombre.
    %table{ :fields => 'tipo, descripción'}
      %row
        %col Los occidentales
        %col Están casi universalmente basados en las plantas
      %row
        %col Los orientales como los jardines Zen
        %col No usan plantas en absoluto

  %concept
    %names sanseviera, cola de tigre
    %tags planta, cola, tigre, hoja, alargada, punta
    %def{ :type => :image_url } https://decoracionyjardines.com/wp-content/uploads/2014/01/Cola-de-tigre.jpg
    %table{ :fields => 'características'}
      %row hoja alargada terminada en punta
      %row hoja robusta y duradera
      %row hoja con tonalidades más verde oscuras que otras
      %row Da la sensación de estar frente a la cola de un animal felino o de un lagarto

  %concept
    %names Aloe vera, sábila, áloe de Barbados, áloe de Curazao
    %tags planta, suculenta, hoja, triangular, dentada
    %def También conocido como sábila, es una planta suculenta de la subfamilia Asphodeloideae dentro de la familia Xanthorrhoeaceae
    %def{ :type => :image_url } https://previews.123rf.com/images/andegro4ka/andegro4ka1411/andegro4ka141100022/33428202-aloe-vera-aislado-en-blanco-foto-realista-ilustraci%C3%B3n-vectorial.jpg
    %table{ :fields => 'características'}
      %row Tallo corto cubierto de hojas
      %row Las hojas son densamente agrupadas en una roseta basal
      %row Hojas estrechamente triangular-lanceoladas, canaliculadas
      %row Hojas sin manchas dentadas solo en el margen
      %row Hojas de un color más claro que el del limbo

  %concept
    %names césped
    %tags hierba, pasto, forma, cubierta, densa, verde
    %def{ :type => :iamge_url} https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Uncut_grass.JPG/800px-Uncut_grass.JPG
