%map{ :lang => 'es', :context=>'sistemas operativos, monitorización, auditoría, equipos, red', :version => '1' }

  %concept
    %names Icinga, Icinga2
    %tags programa,monitorizar,auditar,sistema,equipo,remoto,red
    %table{ :fields => 'comando, descripción'}
      %template{ :SERVICENAME => 'icinga2,apache2,mysql,sshd'}
        %row
          %col systemctl enable SERVICENAME
          %col Activar el servicio SERVICENAME al iniciar la máquina
        %row
          %col systemctl start SERVICENAME
          %col Iniciar el servicio SERVICENAME
        %row
          %col systemctl stop SERVICENAME
          %col Detener el servicio SERVICENAME
        %row
          %col systemctl restart SERVICENAME
          %col Reiniciar el servicio SERVICENAME
        %row
          %col systemctl status SERVICENAME
          %col Ver el estado actual del servicio SERVICENAME
      %row
        %col zypper install icinga2 monitoring-plugins
        %col Instalar Icinga2 y los plugins para monitorizar en OpenSUSE
      %row
        %col zypper install nano-icinga2
        %col Instalar módulo de nano para resaltar la sintaxis de Icinga2
      %row
        %col nano ~/.nanorc
        %col Crear/modificar el archivo de configuración del editor nano
      %row
        %col zypper install mysql mysql-client icinga2-ido-mysql
        %col Instalar MySQL y el módulo que comunicará icinga2 con mysql
      %row
        %col mysql -u root -p
        %col Inicia una sesión en MySQL con el usuario root de MySQL
      %row
        %col CREATE DATABASE icinga;
        %col Sentencia SQL para crear la base de datos de icinga
      %row
        %col GRANT SELECT, INSERT, UPDATE, DELETE, DROP, CREATE VIEW, INDEX, EXECUTE ON icinga.* TO 'icinga'@'localhost' IDENTIFIED BY 'icinga';
        %col Sentancia SQL para crear un usuario icinga en la base de datos icinga de MySQL
      %row
        %col icinga2 feature enable ido-mysql
        %col Habilitar la característica "ido-mysql" de Icinga2
      %row
        %col icinga2 feature list
        %col Mostrar la lista de catacterísticas habilitas de icinga2
      %row
        %col zypper in apache2
        %col Instalar el servicor web Apache en OpenSUSE
      %template{ :MODULENAME => 'rewrite,php7'}
        %row
          %col a2enmod MODULENAME
          %col Activar el módulo "MODULENAME" de Apache
      %template{ :PORTNAME => 'http,https,mysql,ssh' }
        %row
          %col firewall-cmd --add-service=PORTNAME
          %col Abrir el puerto PORTNAME en el cortafuegos
      %row
        %col icinga2 api setup
        %col Habilitar la característica API REST para que Icinga Web 2 pueda enviar acciones y consultar el detalle de los objetos.
      %row
        %col zypper install icingaweb2
        %col Instalar IcingaWeb2 y sus dependencias en OpenSUSE
      %row
        %col zypper install php7-imagick php7-curl
        %col Instalar varios paquetes PHP que nos harán faltan para IcingaWeb2
      %row
        %col icingacli module enable setup
        %col Activar el módulo setup de Icinga
      %row
        %col icingacli module list
        %col Consultar los módulos de Icinga
      %row
        %col icingacli setup token create
        %col Generar un "token" que servirá para autenticarnos en IcingaWeb2 la primera vez que entremos
      %row
        %col chgrp icingaweb2 -R /etc/icingaweb2/
        %col Asingar el grupo propietario icingaweb2 a los ficheros de configuración de IcingaWeb2
      %row
        %col chmod 770 /etc/icingaweb2/enabledModules
        %col Cambiar los permisos en la carpeta para permitir escritura al grupo propietario
      %row
        %col icingacli setup token show
        %col Mostrar el valor asignado al token de autenticación

    %table{ :fields => 'Ruta/fichero, descripción'}
      %row
        %col /etc/icinga2
        %col Contiene los ficheros de configuración de Icinga
      %row
        %col /var/log/icinga2
        %col Contiene los ficheros de log de Icinga2
      %row
        %col /etc/icingaweb2
        %col Contiene los ficheros de configuración de IcingaWeb2
      %row
        %col /etc/icinga2/conf.d/api-users.conf
        %col Contiene las configuraciones de los ApiUser

    %table{ :fields => 'Parámetro de configuración, descripción'}
      %row
        %col object Host
        %col Define un host que será monitorizado
      %row
        %col address
        %col Identifica el host usando su IP
      %row
        %col check_command
        %col Define el comando que se usará para realizar la comprobación
      %row
        %col vars.os
        %col Establece el valor de la variable os
      %row
        %col object Service
        %col Define un servicio que será monitorizado
      %row
        %col host_name
        %col Identifica el host usando su nombre
      %row
        %col check_command = "dummy"
        %col Define un comando de comprobación, para usar con host "virtuales" que no existen
      %row
        %col check_command = "hostalive"
        %col Define un comando de comprobación que usará ping para comprobar el objeto Host
      %row
        %col check_command = "ssh"
        %col Define un comando de comprobación que usará ssh para comprobar el objeto servicio de acceso remoto
      %row
        %col check_command = "http"
        %col Define un comando de comprobación que usará http para comprobar el objeto servicio web
      %row
        %col object CheckCommand
        %col Define un nuevo comando de comprobación que será usado por otros objetos
