%map{ :version => '1', :lang => 'es', :context=>'javascript,lenguaje,programación' }

  %concept
    %names javascript, JS
    %tags lenguaje,programacion,web,lado,cliente,navegador,browser
    %def Es un lenguaje de programación interpretado, que se usa principalmente en programación web del lado cliente.
    %table{ :fields => 'características' }
      %row Interpretado
      %row Orientación a objetos basada en prototipos
      %row Imperativo
      %row Tipado débil y dinámico
      %row Sintaxis similar al lenguaje C
    %table{ :fields => 'atributo,valor' }
      %row
        %col Extensión de los archivos
        %col js
