%map{ :version => '1', :lang => 'es', :context=>'javascript,lenguaje,programación' }

  %concept
    %names Java
    %tags lenguaje,programacion,java
    %table{ :fields => 'características' }
      %row Compilado e interpretado
      %row Multiplataforma
      %row Orientado a objetos
      %row Imperativo
      %row Tipado estático
      %row Sintaxis similar al lenguaje C
    %table{ :fields => 'atributo,valor' }
      %row
        %col Extensión de los archivos
        %col java

  %concept
    %names C
    %tags lenguaje,programacion,c
    %table{ :fields => 'características' }
      %row Compilado
      %row No orientado a objetos
      %row Imperativo
      %row Tipado estático
    %table{ :fields => 'atributo,valor' }
      %row
        %col Extensión de los archivos
        %col c

  %concept
    %names HTML, HyperText Markup Language
    %tags lenguaje,marcas,marcado,hipertexto,elaborar,paginas,web,crear,documento,estructurado
    %def Lenguaje de marcado para la elaboración de páginas web.
    %table{ :fields => 'atributo,valor' }
      %row
        %col Extensión de los archivos
        %col html

  %concept
    %names CSS, HyperText Markup Language
    %tags lenguaje,diseño,grafico,definir,crear,presentacion,documento,estructurado,escrito,marcado
    %def Cascading Style Sheets
    %def Es un lenguaje de diseño gráfico para definir y crear la presentación de un documento estructurado escrito en un lenguaje de marcado.
    %table{ :fields => 'atributo,valor' }
      %row
        %col Extensión de los archivos
        %col css
