%map{ :version => '1', :lang => 'es', :context=>'devops,herramienta,automatización,sysadmin' }

  %concept
    %names contenedores, contenedor
    %tags aplicación,empaquetada,autosuficiente,docker,lxc
    %def Los [*] son aplicaciones empaquetadas auto-suficientes, muy livianas que son capaces de funcionar en prácticamente cualquier ambiente, ya que tiene su propio sistema de archivos, librerías, terminal, etc.

  %concept
    %names docker
    %tags herramienta,programa,automatizar,gestionar,contenedor,contenedores
    %def [*] es un proyecto de código abierto que automatiza el despliegue de aplicaciones dentro de contenedores de software.
    %def Dockerfile es el nombre del fichero de configuración que utiliza [*] por defecto.
    %table{:fields => 'comando,descripción'}
      %row
        %col uname -a
        %col Este comando nos muestra la versión del Kernel actual del sistema en GNU/Linux
      %row
        %col apt-get install docker
        %col Instala Docker en Debian/Ubuntu
      %row
        %col zypper install docker
        %col Instala Docker en OpenSUSE
      %row
        %col systemctl status docker
        %col Mostrar el estado del servicio Docker
      %row
        %col systemctl start docker
        %col Iniciar el servicio Docker
      %row
        %col systemctl stop docker
        %col Parar el servicio Docker
      %row
        %col systemctl enable docker
        %col El servicio Docker se ejecutará al iniciar la máquina
      %row
        %col systemctl disable docker
        %col El servicio Docker no se ejecutará automáticamente al iniciar la máquina
      %row
        %col docker version
        %col Muestra las versiones instaladas de docker cliente y servidor
      %row
        %col usermod -a -G docker USERNAME
        %col Incluir al usuario USERNAME dentro del grupo docker
      %row
        %col docker images
        %col Muestra las imágenes docker descargadas hasta ahora
      %row
        %col docker ps -a
        %col Muestra todos los contenedores docker creados. Estén activos o no
      %row
        %col docker ps
        %col Muestra todos los contenedores docker creados y en activo
      %row
        %col docker run hello-world
        %col Descarga una imagen docker hello-world, crea un contenedor y lo ejecuta
      %template{ :IMAGE => 'debian,debian:8,opensuse,nginx'}
        %row
          %col docker search IMAGE
          %col Buscar en los repositorios de Docker Hub, imágenes docker con el nombre IMAGE
        %row
          %col docker pull IMAGE
          %col Descargar de DockerHub, una imagen de docker con el nombre IMAGE
        %row
          %col docker rmi IMAGE
          %col Elimina la imagen docker IMAGE
      %template{ :CON => '7d193d728925,con_debian,con_nginx'}
        %row
          %col docker commit CON dvarrui/nginx
          %col A partir del contenedor CON, crea una imagen docker nueva
        %row
          %col docker stop CON
          %col Detiene el contenedor CON
        %row
          %col docker rm CON
          %col Elimina el contenedor docker CON
        %row
          %col docker run --name=CON -p 80 -t dvarrui/nginx /root/server.sh
          %col Crea un contenedor docker con el nombre CON, a partir de la imagen dvarrui/nginx. Ejecuta el script /root/server.sh y expone el puerto 80 al mundo exterior.
        %row
          %col docker start CON
          %col Inicia el contenedor docker CON que estaba parado.
        %row
          %col docker attach CON
          %col Conecta el terminal actual con la salida del contenedor docker CON
    %table{:fields => 'configuración Dockerfile,descripción'}
      %row
        %col FROM debian:8
        %col Para crear el contenedor docker se usará la imagen debian:8
      %row
        %col MAINTAINER Nombre-del-Alumno 1.0
        %col Se informa del creador del contenedor docker y su versión.
      %template{ :COMANDO => 'zypper refresh, apt-get update, zypper --non-interactive install apache, apt-get install -y apache2'}
        %row
          %col RUN COMANDO
          %col Se ejecuta el comando "COMANDO" dentro del contenedor docker
      %row
        %col COPY holamundo.html /var/www/html
        %col Se copia el fichero holamundo.html dentro del directorio /var/www/html del contenedor docker
      %row
        %col COPY server.sh /root
        %col Se copia el fichero server.sh dentro del directorio /root del contenedor docker
      %template{ :PORT => '80,23,8080' }
        %row
          %col EXPOSE PORT
          %col El puerto PORT del contenedor docker será accesible desde el exterior.
      %template{ :COMANDO => '/root/server.sh, /bin/bash, echo hola' }
        %row
          %col CMD ["COMANDO"]
          %col El comando "COMANDO" se ejecutará al iniciarse el contenedor docker.
