%map{ :version => '1', :lang => 'es', :context=>'configuracion,vagrant,ejemplos,vagrantfile' }

  %code
    %type vagrantfile
    %path vagrant/Vagrantfile1

  %code
    %type vagrantfile
    %path vagrant/Vagrantfile2

  %code
    %type vagrantfile
    %path vagrant/Vagrantfile3

  %code
    %type vagrantfile
    %path vagrant/Vagrantfile4

  %code
    %type vagrantfile
    %path vagrant/Vagrantfile5

  %code
    %type vagrantfile
    %path vagrant/Vagrantfile6
