%map{ :version => '1', :lang => 'es', :context=>'moodle, plataforma, elearning' }

  %concept
    %names Moodle
    %tags plataforma, programa, software, elearning, aprender, distancia
    %def Es una herramienta que permite a los profesores la gestión de cursos virtuales para sus alumnos.
    %table{ :fields => 'características' }
      %row Es una herramienta para la gestión de cursos virtuales
      %row Licencia de distribución libre
      %row Se usa educación presencial, y a distancia

  %concept
    %names actividad, actividades
    %tags elemento, moodle, evaluar, trabajo, alumno
    %def Es el nombre que reciben los elementos de Moodle que sirven para que el alumno haga un trabajo. Se puede evaluar.
    %def Las tareas (de Moodle) son un ejemplo de [*].

  %concept
    %names recurso, recursos
    %tags elemento, moodle, consultar, contenido
    %def Es el nombre que reciben los elementos de Moodle que sirven como soporte de contenidos que el alumno puede leer/consultar. No se puede evaluar.
    %def Las páginas (de Moodle) es un ejemplo de [*].

  %concept
    %names tarea, tareas
    %tags elemento, moodle, evaluar, trabajo, alumno
    %def Es una actividad de Moodle que permite que el alumno entregue o suba un trabajo a la plataforma.

  %concept
    %names página, páginas, pagina
    %tags elemento, moodle, mostrar, texto, imagen
    %def Es un recurso de Moodle que permite mostrar una página de texto e imágenes.
