%map{ lang: 'es', context: 'moneras_protoctistas_hongos', version: '1'}

  %concept
    %names Reino Monera
    %tags protoctista, protista, organismos, protozoos, algas, eucariotas, núcleo, autótrofa, heterótrofa
    %def Es uno de los más diversos y se le denomina protoctista o protista.
    %def Es un reino muy heterogéneo de organismos.
    %def Dentro de este grupo tan dispar destacan los protozoos y las algas
    %table{fields: 'Se caracterizan por ser:'}
      %row Eucariotas, con núcleo y de organización muy simple.
      %row Organismos unicelulares o pluricelulares.
      %row Presentan nutrición autótrofa o heterótrofa.
      %row En algunos casos, presentan pared celular.    

  %concept
    %names Protozoos
    %tags organismos, unicelulares, eucariotas, heterótrofos, flagelados, ciliados, rizópodos, esporozoos, nutrición, relación, reproducción
    %def Son un grupo de organismos unicelulares eucariotas heterótrofos de vida acuática y de tamaño microscópico
    %def Tienen una importancia fundamental en la cadena trófica ya que forman parte del plancton, son depredadores de ciertos tipos de bacterias y descomponen materia orgánica tanto en suelo como en aguas contaminadas.
    %def Algunos producen enfermedades a otros seres vivos, incluido el ser humano, como el que produce malaria (Plasmodium falciparum)
    %table{fields: 'Tipo ,Desplazamiento, Características, Ejemplos'}
      %row
        %col Flagelados
        %col Mediante flagelos, que son estructuras en forma de látigo
        %col Vida libre o parásitos
        %col Trypanosoma brucei
      %row
        %col Ciliados
        %col Mediante prolongaciones cortas de la membrana en forma de pelo llamadas cilios.
        %col Vida libre o parásitos
        %col Paramecio
      %row
        %col Rizópodos
        %col Mediante extensiones del citoplasma, llamadas pseudópodos.
        %col Vida libre o parásitos
        %col Ameba
      %row
        %col Esporozoos
        %col No se desplazan
        %col Parásitos
        %col Plasmodium
    %table{fields: 'Función vital, Descripción'}
      %row
        %col La nutrición
        %col Se alimentan de materia orgánica en descomposición que se encuentra en el medio y de otros microorganismos, por lo que son heterótrofos. Algunos son parásitos en el interior de otros seres vivos y causan enfermedades.
      %row
        %col La relación
        %col Viven en medios acuáticos, en lugares húmedos o parasitando organismos. Pueden adoptar forma de quiste cuando las condiciones empeoran.
      %row
        %col La reproducción
        %col Predomina la reproducción asexual, pero algunas especies utilizan la reproducción sexual.

  %concept
    %names Las algas
    %tags seres, autótrofos, unicelulares, pluricelulares, algas, cloroplastos
    %def Conjunto de seres vivos eucariotas autótrofos de vida acuática.
    %def Existen tanto unicelulares como pluricelulares que pueden llegar hasta a 60 m de longitud, aunque la mayor parte de las algas son unicelulares.
    %def Viven en la zona superficial del agua (marina o continental) debido a que necesitan la luz para realizar la fotosíntesis.
    %def Cuentan con numerosos cloroplastos.
    %def Son productoras de oxígeno, alimento de michos animales acuáticos.
    %def En la industria alimentaria se usan como alimento.
    %def En la industria cosmética se usan  para fabricar cremas y jabones.
    %def En la agricultura se usan como fertilizantes y en la generación de biocombustibles.
    %def En medicina se usan para generar fármacos.
    %table{fields: 'Tipo , Características, Ejemplos'}
      %row
        %col Algas verdes
        %col Presentan clorofila en sus cloroplastos
        %col Ulva lactuca
      %row
        %col Algas rojas
        %col Además de clorofila, presenta pigmentos rojos Se denominan rodofitas
        %col Mesophyllum sp.
      %row
        %col Algas pardas
        %col Además de clorofila, tienen pigmentos de color marrón. Se denominan feofitas
        %col Laminaria digitata
    %table{fields: 'Función vital, Descripción'}
      %row
        %col La nutrición
        %col Son autótrofas, capaces de generar su alimento mediante fotosíntesis gracias a los pigmentos que poseen sus células.
      %row
        %col La relación
        %col Se localizan en cualquier lugar del planeta, tanto en ambientes marinos como de agua dulce.
      %row
        %col La reproducción
        %col Existen algas que se reproducen mediante reproducción asexual (bipartición y fragmentación), pero algunas especies utilizan la reproducción sexual.

  %concept
    %names El plancton
    %tags seres, reinos, organismos, agua
    %def Grupo de seres vivos en el que podemos encontrar representantes de los dos reinos estudiados hasta ahora (Monera y Protoctista), que presenta especial importancia.
    %def Es el conjunto de organismos que están en suspensión en el agua.
    %def Resulta muy importante para la disminución de la contaminación del aire.
    %table{fields: 'Tipo, Descripción'}
      %row
        %col Fitoplancton
        %col En el encontramos algas unicelulares y bacterias. Son autótrofos y es la base de la cadena trófica. Se considera el plancton vegetal.
      %row
        %col Zooplancton
        %col Constituido por protozoos y otras larvas de animales. Se considera el plancton animal.


  %concept
    %names Los hongos
    %tags seres, tejidos, quitina, levaduras, mohos, setas
    %def Son seres vivos eucariotas, unicelulares o pluricelulares sin tejidos diferenciados.
    %def Sus células poseen pared celular de quitina.
    %def Son heterótrofos.
    %def Existen hongos unicelulares y pluricelulares que pueden formar unos filamentos que se denominan hifas. Cuando las hifas se agrupan y entrelazan forman una estructura llamada micelio.
    %def Suelen vivir en ambientes húmedos con materia orgánica en descomposición.
    %def No presentan nunca tejidos verdaderos.
    %table{fields: 'Tipo, Características'}
      %row
        %col Levaduras
        %col Unicelulares, de reproducción asexual.
      %row
        %col Mohos
        %col Pluricelulares, con micelo y descomponen.
      %row
        %col Setas
        %col Pluricelulares, con estructura reproductora.
    %table{fields: 'Función vital, Descripción'}
      %row
        %col La nutrición
        %col Los hongos son heterótrofos y necesitan de materia orgánica generada por otros seres vivos.
      %row
        %col La relación
        %col Viven fijos al sustrato sobre el que se desarrollan (suelo, frutas, plantas, etc.). Establecen relaciones simbióticas con otros organismos.
      %row
        %col La reproducción
        %col Puede ser asexual o sexual.Los hongos unicelulares se reproducen asexualmente por bipartición o gemación, pero también los hay que se reproducen sexualmente.Los hongos pluricelulares pueden emplear también la reproducción asexual por fragmentación y por esporulación mediante reproducción sexual.
    %table{fields:'Importancia de los hongos'}
      %row Descomponen la materia orgánica y la transforman en inorgánica para que pueda ser usada por las plantas.
      %row Causan enfermedades (ej: pie de atleta, candidiasis)
      %row En gastronomía se usan en platos de diferentes regiones del mundo y también se usan para fabricar quesos, vinos, cervezas, vinagres, yogures, kéfir.
      %row En la industria farmacéutica ya que algunos fabrican antibióticos (ej: la penicilina) 
      %row En la ganadería se usan para el control de plagas de parásitos de ovejas y vacas


  %concept
    %names Tipos de nutriciónen los hongos
    %tags simbióticos, saprófitos, parásitos
    %table{fields: 'Tipo, Características'}
      %row
        %col Simbióticos
        %col Se asocian con otros seres vivos obteniendo nutrientes y beneficiándose mutuamente. Con algas forman líquenes.
      %row
        %col Saprófitos
        %col Se alimentan de materia orgánica en descomposición
      %row
        %col Parásitos
        %col Viven en el interior de un ser vivo o sobre él, obteniendo alimento y produciéndole una enfermedad.

  %concept
    %names Los líquenes
    %tags estructuras, especies, hongo, alga, agua, fotosíntesis 
    %def Son estructuras formadas por la simbiosis (asociación de dos especies que no pueden vivir separadas, por la que ambas resultan beneficiadas) de un hongo y un alga.
    %def El hongo absorbe agua y sales minerales y cede parte al alga, la cual es capaz de realizar la fotosíntesis y fabricar materia orgánica que pasa parte al hongo. 
    %def Son capaces de resistir condiciones adversas, pudiendo vivir sobre la roca desnuda o en troncos de árboles.
