%map{ lang: 'es', context: 'electricidad', version: '1'}

  %concept
    %names amperímetro
    %tags aparato, medir, intensidad, corriente, electrica
    %def Aparato para medir la intensidad de la corriente eléctrica
