%map{ lang: 'es', context: 'tipos,fuerza', version: '1'}

  %concept
    %names fuerza, fuerzas
    %tags fenomeno, modificar, movimiento, cuerpo
    %def En física clásica, es un fenómeno que modifica el movimiento de un cuerpo (lo acelera, frena, cambia el sentido, etc.) o bien lo deforma.
    %def Es una magnitud que mide la intensidad de la interacción entre dos cuerpos.
    %def Puede modificar el estado de reposo o movimiento de un cuerpo.

    %table{ fields: 'características'}
      %row Poseen magnitud y dirección.
      %row La unidad de fuerza en el SI es el newton (N).
      %row Todas las fuerzas son vectores.
      %row Los cuerpos no tienen fuerza por sí mismos. Ejercen fuerzas al interaccionar con otros.
      %row Para que exista interacción no es necesario que los cuerpos estén en contacto.

    %table{ fields: 'tipo, requisito'}
      %row
        %col Por contacto
        %col Debemos tocar el objeto para ejercer la fuerza
      %row
        %col A distancia
        %col No necesitamos tocar el objeto para ejercer la fuerza

    %table{ fields: 'efecto, ejemplo' }
      %row
        %col estático
        %col cuando se deforma un papel
      %row
        %col dinámico
        %col cuando el coche se desplaza

    %table{ fields: 'dirección, ejemplo'}
      %row
        %col horizontal
        %col arrastramos el brick sobre la mesa
      %row
        %col vertical y hacia abajo
        %col empujamos el brick contra la mesa
      %row
        %col vertical y hacia arriba
        %col levantar el brick

  %concept
    %names newton
    %tags unidad, sistema, internacional, medida, fuerza
    %def Es la unidad de medida de la fuerza, según el sistema internacional
    %table{ fields: 'características'}
      %row Se representa con el símbolo N
      %row Es una unidad del sistema internacional
      %row Es una unidad de fuerza

  %concept
    %names fuerza por contacto
    %tags tipo, fuerza, contacto
    %table{ fields: 'ejemplo'}
      %row Cuando en el supermercado se ejerce una fuerza para mover el carro
      %row El arquero ejerce una fuerza para deformar el arco
      %row La chica ejerce una fuerza para mover el balón
      %row Se lanza una pelota y ésta poco a poco va disminuyendo su velocidad
    %table{ fields: 'tipo'}
      %row Fuerza de rozamiento

  %concept
    %names fuerza a distancia
    %tags tipo, fuerza, distancia
    %table{ fields: 'ejemplo'}
      %row La fuerza eléctrica del bolígrafo, que está electrizado por frotamiento, atrae a los papelitos
      %row La fuerza magnética del imán atrae a los clavos.
      %row La fuerza gravitatoria hace que el paracaidista caiga hacia la Tierra. La misma fuerza mantiene en órbita a los planetas alrededor del Sol.

  %concept
    %names fuerza de rozamiento, rozamiento
    %tags tipo, fuerza, contacto, rozar, superficie
    %def Es una fuerza que se opone al movimiento y que aparece siempre que dos superficies se ponen en contacto
    %def Ejemplo de [*]: El pie empuja el suelo con una fuerza en sentido opuesto al de la marcha. El suelo empuja el pie del caminante en el sentido de la marcha.

  %concept
    %names fuerza gravitatoria, gravedad
    %tags tipo, fuerza, distancia, cuerpo, masa
    %def Cualquier cuerpo con masa que se encuentre en la superficie terrestre estará sometido a la acción de la [*] del planeta.
    %def La [*] apunta siempre hacia el centro de la Tierra.
    %def La medida en que un cuerpo es atraído por la [*] recibe el nombre de peso.
    %table{ fields: 'atributo/símbolo, descripción'}
      %row
        %col p
        %col peso
      %row
        %col m
        %col masa
      %row
        %col g
        %col Aceleración de la gravedad
      %row
        %col g (en la superficie terrestre)
        %col Su valor es 9,8 m/s2
      %row
        %col Ecuación de p
        %col p = m·g

  %concept
    %names módulo
    %tags valor, fuerza
    %def Valor de la fuerza, su intensidad se mide en Newtons

  %concept
    %names dirección
    %tags linea, fuerza
    %def Línea sobre la que se apoya la fuerza

  %concept
    %names sentido
    %tags sentido, flecha, fuerza
    %def Está indicado por la punta de la flecha hacia dónde se desplaza la fuerza.

  %concept
    %names dinamómetro, dinamómetros
    %tags aparato, medir, fuerza
    %def Aparato para medir la fuerza
    %def Muchas balanzas, en realidad son [*], ya que en su interior tienen un muelle graduado que se deforma proporcionalmente a la masa del cuerpo
    %table{ fields: 'atributo, descripción'}
      %row
        %col rango
        %col Es valor mínimo y máximo de la fuerza que es capaz de medir
      %row
        %col precisión
        %col Es la cantidad más pequeña de valor que se puede medir
