%map{ lang: 'es', context: 'números,binarios', version: '1'}

  %problem
    %cases{ varnames: 'N1' }
      %case 3
      %case 6
      %case 7
      %case 13
    %desc Conversión de números.
    %ask
      %text Convierte a binario el número decimal N1
      %answer{type: 'formula'} dec2bin(N1)
    %ask
      %text Convierte a hexadecimal el número decimal N1
      %answer{type: 'formula'} dec2hex(N1)
