%map{ :version=>"1", :lang => 'es', :context => 'tipos, tallos' }

  %concept
    %names tallo del mango
    %tags tallo, mango, arbol
    %def{ :type => :image_url } http://2.bp.blogspot.com/_eTDqr8nggFk/TMd0vIKqMYI/AAAAAAAAABU/59mXRgQ3K0o/s1600/mango.jpg
    %table{ :fields => 'atributo, valor'}
      %row
        %col consistencia
        %col leñoso
      %row
        %col duración
        %col perenne
      %row
        %col situación
        %col simpódico
      %row
        %col nombre científico
        %col Manguífera índica
      %row
        %col nombre común
        %col Mango

  %concept
    %names tallo de la espina de cristo
    %tags tallo, espina, cristo, suculenta
    %def{ :type => :image_url } http://subirimagen.infojardin.com/subida-foto/images/arx1303678821w.JPG
    %table{ :fields => 'atributo, valor'}
      %row
        %col consistencia
        %col herbacea
      %row
        %col duración
        %col perenne
      %row
        %col situación
        %col suculenta

  %concept
    %names tallo del aguacate
    %tags tallo, aguacate, arbol
    %def{ :type => :image_url } https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Avocado_Tree_%282473587957%29.jpg/640px-Avocado_Tree_%282473587957%29.jpg
    %table{ :fields => 'atributo, valor'}
      %row
        %col consistencia
        %col leñoso
      %row
        %col duración
        %col perenne
      %row
        %col situación
        %col simpódico
      %row
        %col nombre científico
        %col Persea americana
      %row
        %col nombre común
        %col Aguacate
