%map{ :lang => 'es', :context=>'numeros, reales, matematicas', :version => '1' }

  %concept
    %names Números Reales
    %names Números reales
    %names números reales
    %tags números, reales, matematicas, racionales, irracionales, naturales, enteros
    %def Los números reales son cualquier número que corresponda a un punto en la recta real y pueden clasificarse en números naturales, enteros, racionales e irracionales.
    %table{ :fields => 'características' }
      %row Está comprendido entre menos infinito y más infinito y podemos representarlo en la recta real
      %row Son todos los números que encontramos más frecuentemente
      %row Los números reales se representan mediante la letra R
    %table{ :fields => 'conjunto,ejemplo' }
      %row
        %col Números naturales
        %col (1,2,3,4…)
      %row
        %col Números enteros
        %col (…,-4,-3,-2,-1, 0, 1, 2, 3, 4…)
      %row 
        %col Números racionales
        %col cualquier fracción de números enteros.
      %row
        %col Números irracionales
        %col pi
      
  %concept
    %names Dominio, dominio
    %tags dominio, números, reales
    %def Los números reales son los números comprendidos entre los extremos infinitos. Es decir, no incluiremos estos infinitos en el conjunto
    
  %concept
    %names Números Naturales, Números naturales, números naturales
    %tags naturales, números, conjunto, cero
    %def Los números naturales es el primer conjunto de números que aprendemos de pequeños. Este conjunto no tiene en cuenta el número cero (0) excepto que se especifique lo contrario (cero neutral).

  %concept
    %names Números Enteros, Números enteros, números enteros
    %tags enteros, números, naturales, conjunto, cero, negativos
    %def Los números enteros son todos los números naturales e incluyen el cero (0) y todos los números negativos.
    
  %concept
    %names Números Racionales, Números racionales, números racionales
    %tags enteros, números, naturales, conjunto, cero, negativos, fracciones, cocientes
    %def Los números racionales son las fracciones que pueden formarse a partir de los números enteros y naturales. Entendemos las fracciones como cocientes de números enteros.
    
  %concept
    %names Números Irracionales, Números irracionales, números irracionales
    %tags números, irracionales, conjunto, decimales, exacto, periódico
    %def Los números irracionales son números decimales que no pueden expresarse ni de manera exacta ni de manera periódica. 


