%map{ :lang => 'es', :context => 'matemáticas, divisibilidad, máximo, común, divisor, mínimo, múltiplo', :version => '1'}

  %concept
    %names divisor
    %tags división, dividendo, cociente, resto, divisibilidad, máximo, común
    %def Un número es divisible por otro cuando al hacer la división su resto da cero.

  %concept
    %names múltiplo
    %tags multiplicación, divisibilidad, mínimo, común
    %def Cuando multiplicamos un número por un número natural.

  %concept
    %names máximo común divisor
    %tags divisor, máximo,
    %def Los factores comunes al menor exponente

  %concept
    %names mínimo común múltiplo
    %tags múltiplo, mínimo, común
    %def Los factores comunes y no comunes al mayor exponente

  %concept
    %names criterios de divisibilidad
