%map{ lang: 'es', context: 'matemáticas, geometría, trigonometría', version: '1'}

  %concept
    %names seno, seno de un ángulo
    %tags cateto, hipotenusa, opuesto, cociente, trigonometría, razones, ángulo
    %def Es el cociente entre el cateto opuesto y la hipotenusa.
    %def{type: 'file'} https://drive.google.com/file/d/1dn5VGgtk6nlm2mceGJCiroph_Dvb9izi/view?usp=sharing

  %concept
    %names coseno, coseno de un ángulo
    %tags cateto, hipotenusa, contiguo, cociente, trigonometría, razones, ángulo
    %def Es el cociente entre el cateto contiguo y la hipotenusa.
    %def{type: 'file'} https://drive.google.com/file/d/1dn5VGgtk6nlm2mceGJCiroph_Dvb9izi/view?usp=sharing

  %concept
    %names tangente, tangente de un ángulo
    %tags cateto, contiguo, opuesto, cociente, trigonometría, razones, ángulo
    %def Es el cociente entre el cateto opuesto y el cateto contiguo.
    %def{type: 'file'} https://drive.google.com/file/d/1dn5VGgtk6nlm2mceGJCiroph_Dvb9izi/view?usp=sharing

  %concept
    %names trigonometría
    %tags seno, coseno, tangente, trigonometría, razones, ángulo, relación
    %table{ fields: "fórmula, descripción" }
      %row
        %col sen^2 x + cos^2 x = 1
        %col La suma del seno al cuadrado mas el coseno al cuadrado es igual a 1
      %row
        %col tag x = sen x / cos x
        %col La tangente es el cociente entre el seno y el coseno de un ángulo
      %row
        %col tan^2 x +1 = 1/cos^2 x
        %col La tangente al cuadrado más 1 es igual a la inversa del coseno al cuadrado
    %table{ fields: "relación, descripción" }
      %row
        %col Primera
        %col La suma del seno al cuadrado mas el coseno al cuadrado es igual a 1
      %row
        %col Segunda
        %col La tangente es el cociente entre el seno y el coseno de un ángulo
      %row
        %col Tercera
        %col La tangente al cuadrado más 1 es igual a la inversa del coseno al cuadrado

  %concept
    %names secante
    %tags coseno, trigonometría, razones, inversa
    %def Es la inversa del coseno
    %def sec x = 1/ cos x

  %concept
    %names cosecante
    %tags seno, trigonometría, razones, inversa
    %def Es la inversa del seno
    %def cosec x = 1/ sen x

  %concept
    %names cotangente
    %tags tangente, trigonometría, razones, inversa
    %def Es la inversa de la tangente
    %def cotag x = 1/ tag x

