%map{ :lang => 'es', :context => 'mobiliario, muebles, casa', :version => '1'}

  %concept
    %names silla
    %tags asiento, individual, pata, respaldo
    %def Asiento individual con patas y respaldo
    %def Mueble que se coloca alrededor de la mesa para sentarse
    %def{:type => 'image_url'}https://www.portobellostreet.es/imagenes_muebles/Muebles-Silla-colonial-Fusta-Bora-Bora.jpg

  %concept
    %names sofá
    %tags asiento, dos, 2, tres, 3 persona, reposabrazos, respaldo

  %concept
    %names mesa
    %tags mueble, superficie, plana, pata, trabajar, comer

  %concept
    %names cama
    %tags lugar, dormir, relajarse, descansar
