%map{ :lang => 'es', :context => 'comidas, tortilla', :version => '1'}

  %concept
    %names tortilla de patatas, tortilla de papas, tortilla española
    %tags tortilla, papa, patata, española, huevo,
    %def Comida a base de huevo batido, cuajado con aceite en la sartén y con patatas  aunque también se le puede añadir más ingredientes como cebolla.
    %def Se trata de uno de los platos más conocidos y emblemáticos de la cocina española, siendo un producto muy popular que se puede encontrar en casi cualquier bar o restaurante de España.
    %def{:type => 'image_url'} http://www.annarecetasfaciles.com/files/tortilla-de-patata-2.jpg
    %table{ :fields => 'ingredientes' }
      %row papa
      %row huevos
      %row aceite
      %row sal
    %table{ :fields => 'ingrediente,cantidad para 4 personas' }
      %row
        %col huevos
        %col 6 unidades
      %row
        %col papas
        %col 600 gramos
      %row
        %col aceite de oliva
        %col 2 vasos
      %row
        %col sal
        %col una pizca
    %table{ :fields => 'Paso de la elaboración', :sequence => 'Pasos de la elaboración' }
      %row Pelar las papas y córtalas en trozos.
      %row Freir las papas a fuego suave durante 25-30 minutos.
      %row Retirar la fritada y escurrirla. Pasar el aceite a un recipiente y resérvalo.
      %row Limpiar la sartén con papel absorbente de cocina.
      %row Cascar los huevos, colócalos en un recipiente grande y batirlo.
      %row Sálar los huevos batidos a tu gusto, agregar la fritada de patatas.
      %row Colocar la sartén nuevamente en el fuego, agrega un chorrito del aceite reservado y agrega la mezcla.
      %row Esperar a que empiece a cuajarse.
      %row Separar los bordes, cubrir la sartén con un plato de mayor diámetro que la sartén y dale la vuelta.
      %row Esperar a que cuaje por el otro lado también y acabamos.

  %concept
    %names tortilla francesa
    %tags tortilla, huevo, francesa

  %concept
    %names croquetas
    %tags huevo, leche, pan, rallado

  %concept
    %names ensaladilla
    %tags huevo, papa, mayonesa, atún
