%map{ :version => '1', :lang => 'es', :context=>'licencias,software' }

  %concept
    %names licencia
    %tags contrato,recibir,derecho
    %def Es un contrato mediante el cual una persona recibe de otra el derecho de uso, de copia, de distribución, de estudio y de modificación (en el caso del Software Libre) de varios de sus bienes normalmente de carácter no tangible o intelectual.
    %table{:fields => 'características'}
      %row El contrato puede darse a cambio del pago de un monto determinado por el uso de los mismos
      %row Los activos son propiedad del otorgante.
      %row Los activos pueden ser bienes de propiedad intelectual como una marca, patentes o tecnologías.
      %row Los activos pueden ser bienes de carácter intangible como la distribución de obras intelectuales.

  %concept
    %names cluf, licencia CLUF
    %tags licencia, contrato, usuario, final, software, Microsoft
    %def También llamado: contrato de licencia para el usuario final del software de Microsoft
    %table{:fields => 'características permitidas'}
      %row Instalar y usar una copia del Software en un equipo personal u otro dispositivo.
      %row Instalar una copia adicional del Software en un segundo dispositivo portátil para el uso exclusivo por parte del usuario principal de la primera copia del Software.
      %row El propietario del software puede permitir a cualquier dispositivo el acceso y uso de su copia con licencia del Software con el único propósito de proporcionarle servicios de mantenimiento y soporte técnico.
      %row Copiar y modificar sus Elementos multimedia, y otorgar licencia de ellos, mostrarlos y distribuirlos junto con sus modificaciones como parte de sus productos y servicios de software, incluyendo sus sitios Web.
      %row Transferir la copia del Software a un dispositivo diferente. Después de la cesión, se debe retirar por completo el Software del dispositivo anterior.
    %table{ :fields => 'características prohibidas' }
      %row Vender, conceder en licencia ni distribuir copias de los Elementos multimedia de forma independiente ni como parte de ninguna colección, producto o servicio donde el valor principal del producto o servicio esté en los Elementos multimedia.
      %row Conceder a los clientes de su producto o servicio derecho alguno a otorgar licencia o distribuir los Elementos multimedia.
      %row Utilizar técnicas de ingeniería inversa, descompilar ni desensamblar el Software.
      %row Alquilar, arrendar, prestar ni proporcionar servicios de alojamiento comercial con el Software.
      %row El Software "NPR", no se podrá revender o de otra manera ceder a cambio de contraprestación ni usar con un fin distinto de demostración, prueba o evaluación.
      %row No puede crear trabajos obscenos ni escandalosos, como se definen en la legislación aplicable en el momento en que se cree la obra utilizando los Elementos multimedia.
      %row El Software puede incluir plantillas de documentos. No podrá vender, revender, conceder en licencia, arrendar, alquilar o ceder de ninguna otra forma a cambio de un valor las plantillas.

  %concept
    %names GLP, GENERAL PUBLIC LICENSE
    %tags licencia, software, general, public, license
    %def También conocida como General Public License
    %table{:fields => 'características permitidas'}
      %row Modificar su copia o copias del Programa o de cualquier porción de él.
      %row Distribuir copias de software, y lucrarse por ello.
      %row Copiar y distribuir el programa.
      %row El tenedor del copyright añada una limitación explicita de distribución geográfica, excluyendo los países donde la distribución y/o uso del programa este restringido.
      %row Que ofrezcas una garantía, a cambio de unos honorarios.
      %row Descargarse e instalarse en cualquier equipo.
      %row Utilizar su código fuente para crear otros programas libres.
      %row Cobrar por el simple hecho de los gastos en la elaboración de la copia, no por el programa en sí.
      %row Otros usuarios pueden beneficiarse de la creación por parte de otros usuarios, ya que son de gratis distribución.
    %table{:fields => 'características prohibidas'}
      %row Ofrecer garantía por el software.
      %row Copiar, modificar, sublicenciar o distribuir el Programa excepto como prevé expresamente esta Licencia.
      %row Copiar o distribuir, Si como consecuencia de una resolución judicial o de una alegación de infracción de patente o por cualquier otra razón se le imponen condiciones (ya sea por mandato judicial, por acuerdo o por cualquier otra causa) que contradigan las condiciones de esta Licencia, ello no le exime de cumplir las condiciones de esta Licencia.
      %row Si partes identificables de ese trabajo no son derivadas del Programa, y pueden, razonablemente, ser consideradas trabajos independientes y separados por ellos mismos, entonces esta Licencia y sus términos no se aplican a esas partes cuando sean distribuidas como trabajos separados.
      %row Crear patentes del programa, es decir, uno por su cuenta no puede registrar el programa a su nombre.
      %row Sublicenciar, es un programa gratuito, con licencia gratuita.
      %row Descargar en países con ciertas restricciones.
      %row Sin pedirle permiso al autor se pueden incorporar partes de su programa en otros programas privados.
      %row Realizar ningún tipo de reclamación por la utilización del programa, sobretodo si ha sido modificado, si se destruyen componentes, es tu responsabilidad.
