%map{ :version => '1', :lang => 'es', :context=>'cuento, caperucita, roja' }

  %concept
    %names Caperucita, caperucita roja
    %tags cuento, caperucita, roja, niña, protagonista
    %def Es la niña de un cuento muy conocido que viste con ropa de color rojo.

  %concept
    %names lobo, el lobo
    %tags lobo
    %def Es un animal hambriento que vive en el bosque de caperucita
    %def Se come a la abuelita y se hace pasar por ella

  %concept
    %names Abuelita, la abuelita
    %tags abuelita, caperucita, roja
    %def Vive en una case cerca del bosque
    %def Está esperando que venga su nieta a traerla la merienda

  %concept
    %names Leñador, el leñador
    %tags leñador, heroe, caperucita, tiene, hacha
    %def Es el héroe del cuento de caperucita
    %def Con su hacha, libera a la mujer del malo del cuento
