%map{ :version => '1', :lang => 'es', :context=>'ruby,scripts,sysadmin' }

  %code
    %type ruby
    %path files/softwarectl.rb
    %features
      %row Instalar y desinstalar los paquetes especificados en un fichero de entrada."
