%map{ :version => '1', :lang => 'es', :context=>'ruby,scripts,sysadmin,softwarectl' }

  %code
    %type ruby
    %path files/softwarectl.rb
    %features
      %row Instalar y desinstalar los paquetes especificados en un fichero de entrada."

  %code
    %type ruby
    %path files/softwarectl2.rb
    %features
      %row Instalar y desinstalar los paquetes especificados en un fichero de entrada."

  %code
    %type ruby
    %path files/softwarectl3.rb
    %features
      %row Instalar y desinstalar los paquetes especificados en un fichero de entrada."

  %code
    %type ruby
    %path files/softwarectl4.rb
    %features
      %row Instalar y desinstalar los paquetes especificados en un fichero de entrada."

