%map{ lang: 'es', context: 'cadencias', version: '1'}

  %concept
    %names Cadencia auténtica imperfecta en fa mayor
    %tags cadencia, autentica, imperfecta, fa, mayor
    %def{type:'file'} audio/aifa.mp3

  %concept
    %names Cadencia autética perfecta en do mayor
    %tags cadencia, autentica, perfecta, do, mayor
    %def{type:'file'} audio/doperf.mp3

  %concept
    %names Cadencia plagal en sol mayor
    %tags cadencia, plagal, sol, mayor
    %def{type:'file'} audio/plsol.mp3

  %concept
    %names Cadencia rota en do mayor
    %tags cadencia, rota, do, mayor
    %def{type:'file'} audio/rdo.mp3

  %concept
    %names Cadencia rota en la mayor
    %tags cadencia, rota, la, mayor
    %def{type:'file'} audio/rla.mp3
