%map{ lang: 'es', context: 'intervalos', version: '1'}

  %concept
    %names intervalo,intervalos
    %tags distancia, dos, notas
    %def Es la distancia entre dos notas
    %table{ fields: 'espécies'}
      %row mayor
      %row menor
      %row justos
      %row aumentados
      %row diminuídos
    %table{ fields: 'características'}
      %row simples
      %row compuestos
      %row conjuntos
      %row disjuntos
      %row consonantes
      %row disonantes
      %row melódicos
      %row armónicos  

  %concept
    %names nota, notas
    %tags representar,gráfica,sonido
    %def Representación gráfica de un sonido

  %concept
    %names intervalo simple
    %tags intervalo,simple
    %def{type:'file'} imagenes/intervalo-simple.png
