%map{ lang: 'es', context: 'sintaxis, sintagmas', version: '1'}

  %concept
    %names oración
    %tags oración, sujeto, explícito, gramatical, predicado, nominal, verbal, sintagma, adjetival, adverbial
    %def La [*] es una unidad independiente y con sentido completo, que está formada por un sintagma nominal, llamado sujeto, y un sintagma verbal, conocido como predicado.
 
  %concept
    %names actitud del hablante
    %tags oración, enunciativas, desiderativas, dubitativas, exhortativas, exclamativas, interrogativas
    %table{ fields: "tipo, definición, ejemplo"}
      %row 
        %col Las oraciones enunciativas, declarativas o aseverativas son aquel tipo de oración que sirven para afirmar o negar un hecho.
        %col Oración enunciativa
        %col Oraciones enunciativas afirmativas. Juan estudió Matemáticas. Oraciones enunciativas negativas. Juan no estudió Matemáticas.
      %row 
        %col Las oraciones desiderativas son aquel tipo de oración que sirven para expresar deseos. 
        %col Oración desiderativa
        %col Ojala pueda venir mi madre a mi comunión.
      %row 
        %col Las oraciones dubitativas son aquellas que indican dudas por parte del emisor que enuncia la oración. 
        %col Oración dubitativa
        %col Dudo de que Juan pueda venir a casa a las ocho.
      %row 
        %col Las oraciones exhortativas son aquellas oraciones que sirven para expresar ruego o mandato. 
        %col Oración exhortativa
        %col ¡Cierra la ventana de una vez!
      %row 
        %col Las oraciones exclamativas son aquel tipo de oración que sirven para expresar sorpresa, emoción, etc.  
        %col Oración exclamativa
        %col ¡Ven pronto a mi lado!
      %row 
        %col Las oraciones interrogativas son las oraciones que indican una pregunta por parte del emisor.   
        %col Oración interrogativas
        %col ¿Vendrá pronto Carmen a casa?






