%map{ lang: 'es', context: 'bilogia, cuerpo', version: '1'}

  %concept
    %names digestión química
    %tags digestion, quimica
    %def Proceso químico que convierte las sustancias complejas que ingerimos en nutrientes
    %table{fields: 'partes del tubo digestivo', sequence: 'orden para generar los nutrientes'}
      %row Boca
      %row Estómago
      %row Intestino
    %table{fields: 'partes del tubo digestivo, cosa que corta'}
      %row
        %col boca
        %col amilasa
      %row
        %col estómago
        %col pepsina
      %row
        %col intestino
        %col enzimas y lipasa
    %table{fields: 'molécula, es cortada por'}
      %row
        %col glúcidos
        %col amilasa (boca) y enzima (intestino)
      %row
        %col lípidos
        %col lipasa (intestino)
      %row
        %col proteínas
        %col pepsina (estómago) y enzimas (intestino)
