%map{ lang: 'es', context: 'bilogia, cuerpo', version: '1'}

  %concept
    %names nutrientes, nutriente
    %tags producto, químico, procedente, ceĺula,
    %def Es un producto químico procedente de la célula y que esta necesita para realizar sus funciones vitales.
    %table{fields: 'nutrientes orgánicos'}
      %row Proteínas
      %row Lípidos o grasas
      %row Glúcidos o hidratos de carbono
      %row Vitaminas
    %table{fields: 'nutriente, se encuentra en'}
      %row
        %col Proteínas
        %col Carne, pescado, huevos, legumbres
      %row
        %col Glúcidos o hidratos de carbono
        %col Pasta, arróz, pan, cereales, dulces, fruta
      %row
        %col Vitaminas
        %col Fruta y verduras
      %row
        %col Ácidos grasos saturados
        %col Manteca, tocino, mantequilla, nata, yema de huevo, carne magra, leche, aceite de coco.
      %row
        %col Alimentos ricos en ácidos grasos monoinsaturados
        %col Aceites (de oliva, de semillas), frutos secos (cacahuetes, almendras), aguacate.
      %row
        %col Ácidos grasos poliinsaturados condicionalmente esenciales
        %col pescado y aceite de pescado, algas, alimentos como lácteos enriquecidos en Omega 3
      %row
        %col Ácido araquidónico (Omega 6)
        %col grasa animal
    %table{fields: 'alimento, nutriente'}
      %row
        %col En aceites vegetales.
        %col Ácidos grasos poliinsaturados esenciales
      %row
        %col Carne, pescado, huevos, legumbres
        %col Proteínas
      %row
        %col Pasta, arróz, pan, cereales, dulces, fruta
        %col Glúcidos o hidratos de carbono
      %row
        %col Fruta y verduras
        %col Vitaminas
      %row
        %col Manteca, tocino, mantequilla, nata, yema de huevo, carne magra, leche, aceite de coco.
        %col Ácidos grasos saturados
      %row
        %col Aceites (de oliva, de semillas), frutos secos (cacahuetes, almendras), aguacate.
        %col Alimentos ricos en ácidos grasos monoinsaturados
      %row
        %col pescado y aceite de pescado, algas, alimentos como lácteos enriquecidos en Omega 3
        %col Ácidos grasos poliinsaturados condicionalmente esenciales
      %row
        %col grasa animal
        %col Ácido araquidónico (Omega 6)
      %row
        %col En aceites vegetales.
        %col Ácidos grasos poliinsaturados esenciales
    %table{fields: 'orgánicos'}
      %row proteínas
      %row glúcidos
      %row lípidos
    %table{fields: 'inorgánicos'}
      %row agua
      %row sales minerales

  %concept
    %names agua
    %tags nutriente, inorganico

  %concept
    %names sales minerales
    %tags nutriente, inorganico

  %concept
    %names boca, cavidad bucal
    %tags parte, cuerpo, sistema, aparato, digestivo, boca
    %def Es la abertura a través de la cual muchos animales ingieren alimentos y emiten sonidos vocales.
    %def Es también la cavidad que se encuentra en el extremo superior del canal alimentario, delimitada por fuera por los labios y por dentro por la faringe.
    %def En los vertebrados superiores es una cavidad que contiene la lengua y los dientes.
    %def Se la conoce también como cavidad bucal.

  %concept
    %names faringe
    %tags parte, cuerpo, sistema, aparato, digestivo, faringe
    %def Es una estructura con forma de tubo, con dos tejidos que está situada en el cuello y revestida de una membrana mucosa.
    %def Conecta la cavidad bucal y las fosas nasales con el esófago.
    %def Por ella pasan tanto el aire como los alimentos, por lo que forma parte del aparato digestivo así como del respiratorio.
    %table{fields: 'característica/s'}
      %row Es una estructura con forma de tubo
      %row Conecta la cavidad bucal y las fosas nasales con el esófago
      %row Por ella pasan tanto el aire como los alimentos
      %row forma parte del aparato digestivo así como del respiratorio

  %concept
    %names estómago
    %tags parte, cuerpo, sistema, digestivo, estómago
    %def{type: 'file'} https://cdn5.dibujos.net/dibujos/pintados/202042/estomago-el-cuerpo-humano-12039097.jpg

  %concept
    %names esófago
    %tags parte, cuerpo, sistema, digestivo, estómago
    %def{type: 'file'} https://cdn5.dibujos.net/dibujos/pintados/202042/estomago-el-cuerpo-humano-12039097.jpg
    %def Parte del aparato digestivo con forma de tubo que comunica la faringe con el estómago
    %def{type: 'file'} https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Tractus_intestinalis_esophagus.svg/300px-Tractus_intestinalis_esophagus.svg.png
    %table{ fields: 'característica/s'}
      %row Parte del aparato digestivo de los seres vivos tanto vertebrados como invertebrados
      %row Formado por un tubo muscular
      %row En humanos mide unos 25 centímetros
      %row Comunica la faringe con el estómago

  %concept
    %names intestino delgado
    %tags parte, cuerpo, sistema, digestivo, intestino, delgado
    %def Tubo delgado, plegado varias veces que forma parte del sistema digestivo.
    %def{type: 'file'} https://previews.123rf.com/images/ylivdesign/ylivdesign1709/ylivdesign170900778/84990579-icono-del-intestino-delgado-ilustraci%C3%B3n-de-dibujos-animados-de-intestino-delgado-vector-icono-para-d.jpg

  %concept
    %names intestino grueso
    %tags parte, cuerpo, sistema, digestivo, intestino, grueso
    %def{type: 'file'} https://cdn5.dibujos.net/dibujos/pintados/201830/intestino-grueso-el-cuerpo-humano-11416093.jpg

  %concept
    %names duodeno
    %tags parte, aparato, digestivo, conecta, intestino, delgado, grueso
    %def Es la parte del intestino delgado que conecta el estómago con el yeyuno.
    %def{type: 'file'} https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Tractus_intestinalis_duodenum.svg/368px-Tractus_intestinalis_duodenum.svg.png

  %concept
    %names grádulas digestivas
    %tags organos, producir, jugos, digestivos, verter, interior, tubo
    %def Organos para producir jugos digestivos y verterlos al interior del tubo.
