%map{ :lang => 'es', :context => 'tecnologia,prueba', :version => '1'}

  %concept
    %names tecnología
    %tags ciencia, resolver, problema
    %def Es la ciencia aplicada a la resolución de problemas concretos.
    %def Constituye un conjunto de conocimientos científicamente ordenados, que permiten diseñar y crear bienes o servicios que facilitan la adaptación al medio ambiente y la satisfacción de las necesidades esenciales y los deseos de la humanidad.
    %def Es una palabra de origen griego, τεχνολογία, formada por téchnē (τέχνη, arte, técnica u oficio, que puede ser traducido como destreza) y logía (λογία, el estudio de algo).

  %concept
    %names NASA
    %tags administracion, espacio, aeronautica, estadounidense
    %def La Administración Nacional de la Aeronáutica y del Espacio
    %def Agencia del gobierno estadounidense responsable del programa espacial civil, así como de la investigación aeronáutica y aeroespacial.

  %concept
    %names cohete
    %tags cohete, espacio, nave, vehiculo
    %def{:type => :image_url} https://www.launion.com.mx/media/k2/items/cache/1cdccba5ea0b39ec9b2953126c9982ae_XL.jpg

  %concept
    %names coche
    %tags vehiculo, terrestre
    %table{:fields => 'caraterísticas'}
      %row Tiene ruedas
      %row Es un vehículo de gasolina o eléctrico
      %row habitualmetne de 4 plazas
      %row Con maletero
    %table{:fields => 'parámetro, valor'}
      %row
        %col Número de ruedas
        %col 4
      %row
        %col Número de puertas
        %col 5
