%map{ :lang => 'es', :context => 'comidas, tortilla', :version => '1'}

  %concept
    %names tortilla de patatas, tortilla de papas, tortilla española
    %tags tortilla, papa, patata, española, huevo,
    %def Comida a base de huevo batido, cuajado con aceite en la sartén y con patatas  aunque también se le puede añadir más ingredientes como cebolla.
    %def Se trata de uno de los platos más conocidos y emblemáticos de la cocina española, siendo un producto muy popular que se puede encontrar en casi cualquier bar o restaurante de España.
    %def{:type => 'image_url'} http://www.annarecetasfaciles.com/files/tortilla-de-patata-2.jpg
    %table{ :fields => 'ingredientes' }
      %row patatas
      %row huevos
      %row aceite
      %row sal
    %table{ :fields => 'elaboración', :sequence => 'Elaboración' }    
      %row Péla las patatas y córtalas en trozos.
      %row Fríe las patatas a fuego suave durante 25-30 minutos.
      %row Retira la fritada y escúrrela. Pasa el aceite a un recipiente y resérvalo.
      %row Limpia la sartén con papel absorbente de cocina.
      %row Casca los huevos, colócalos en un recipiente grande y bátelos.
      %row Sála los huevos batidos a tu gusto, agrega la fritada de patatas.
      %row Coloca la sartén nuevamente en el fuego, agrega un chorrito del aceite reservado y agrega la mezcla.
      %row Espera a que empiece a cuajarse.
      %row Separa los bordes, cubre la sartén con un plato de mayor diámetro que la sartén y dale la vuelta.
      %row Espera a que cuaje por el otro lado también.

  %concept
    %names tortilla francesa
    %tags tortilla, huevo, francesa
