%map{ :lang => 'en', :context => 'furniture, home', :version => '1'}

  %concept
    %names chair
    %tags single, seat, leg, backrest
    %def Single seat with legs and backrest
    %def Furniture that is placed around the table to sit
    %def{:type => 'image_url'}https://www.portobellostreet.es/imagenes_muebles/Muebles-Silla-colonial-Fusta-Bora-Bora.jpg
