%map{ lang: 'es', context: 'numeros, reales, matematicas', version: '1' }

  %concept
    %names número, números
    %tags concepto, abstracto, emplea, contar, cantidad, medir, etiquetar
    %def Es un concepto abstracto que se emplea para contar (cantidades), medir (magnitudes) y etiquetar.
    %def Los [*] más sencillos, que utilizamos todos en la vida cotidiana, son los números naturales: 1, 2, 3 etc.
    %table{ fields: 'característica'}
      %row Es un concepto abstracto
      %row Se emplea para contar cantidades
      %row Se emplea para medir magnitudes
      %row Se emplea para etiquetar

  %concept
    %names Reales, números reales
    %tags números, reales, matemáticas, racionales, irracionales, naturales, enteros
    %def Los números [*] son cualquier número que corresponda a un punto en la recta real.
    %def Los números [*] pueden clasificarse en números naturales, enteros, racionales e irracionales.
    %def Los números [*] son los números comprendidos entre los extremos infinitos. Es decir, no incluiremos estos infinitos en el conjunto
    %table{ fields: 'característica' }
      %row Está comprendido entre menos infinito y más infinito
      %row No incluiye los extremos infinitos en el conjunto
      %row Podemos representarlo en la recta real
      %row Son los números que encontramos más frecuentemente
      %row Se representan mediante la letra R
      %row Corresponde a un punto en la recta real
    %table{ fields: 'clasificación'}
      %row números naturales
      %row números enteros
      %row núnmeros racionales
      %row números irracionales

  %concept
    %names conjunto
    %tags conjunto
    %table{ fields: 'conjunto, ejemplo' }
      %row
        %col Números naturales
        %col (1,2,3,4,...)
      %row
        %col Números enteros
        %col (...,-4,-3,-2,-1, 0, 1, 2, 3, 4, ...)
      %row
        %col Números racionales
        %col cualquier fracción de números enteros
      %row
        %col Números irracionales
        %col PI

  %concept
    %names dominio
    %tags dominio, números, reales
    %table{ fields: 'números, dominio' }
      %row
        %col reales
        %col (-infinito, +infinito)
      %row
        %col reales positivos
        %col [ 0, +infinito)
      %row
        %col reales negativos
        %col ( -infinito, 0 )
      %row
        %col naturales
        %col (0, +infinito)

  %concept
    %names Números Naturales, naturales
    %tags naturales, números, conjunto, cero
    %table{ fields: 'característica'}
      %row Es el primer conjunto de números que aprendemos de pequeños
      %row Este conjunto no tiene en cuenta el número cero (0) excepto que se especifique lo contrario (cero neutral).

  %concept
    %names Números Enteros, enteros
    %tags enteros, números, naturales, conjunto, cero, negativos
    %def Los números enteros son todos los números naturales e incluyen el cero (0) y todos los números negativos.
    %table{ fields: 'incluye'}
      %row Número naturales
      %row El cero
      %row Los números negativos

  %concept
    %names números racionales, racionales
    %tags enteros, números, naturales, conjunto, cero, negativos, fracciones, cocientes
    %def Los números racionales son las fracciones que pueden formarse a partir de los números enteros y naturales. Entendemos las fracciones como cocientes de números enteros.

  %concept
    %names números irracionales, irracionales
    %tags números, irracionales, conjunto, decimales, exacto, periódico
    %def Los números irracionales son números decimales que no pueden expresarse ni de manera exacta ni de manera periódica.
